<div class="row">
  <div class="col">
    <p>Add new server</p>
    <label for="">Server Name</label>
    <input type="text" class="form-control" #serverNameInput>
    <label for="">Server Content</label>
    <input type="text" class="form-control" #serverContentInput>
    <br>
    <button
      class="btn btn-primary"
      (click)="onAddServer(serverNameInput)">
      Add Server
    </button>
    <button
      class="btn btn-primary"
      (click)="onAddBlueprint(serverNameInput)">
      Add Server Blueprint
    </button>
  </div>
</div>