<html>
  <body>
    <div class="container">
      <app-cockpit 
      (serverCreated)="onServerAdded($event)"
      (bpCreated)="onBlueprintAdded($event)"></app-cockpit>
      <div class="row">
        <div class="col">
          <div class="btn btn-primary" (click)="onChangeFirst()">Change first element</div>
          <app-server-element *ngFor="let serverElement of serverElements"
            [srvElement]="serverElement" [name]="serverElement.name">
            <p #contentParagraph>
              <strong *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.content }}</strong>
              <em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em>
            </p>
          </app-server-element>
        </div>
      </div>
    </div>
  </body>
</html>